*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@media (orientation: landscape) {
    body {
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      background-color: black;
      background-image: url("assets/rotate.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto;
    }
  
    #gaming {
      display: none;
    }
  
    #main {
      display: none
    }
  }
  